/* Don’t miss out on the release of our new NFT. Sign up below to receive updates when we go live. */
.modal-container {
  background-color: #fff;
  width: 450px;
  padding: 7.5px;
  z-index: 9999;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content {
  padding: 8px;
  display: flex;
}

.modal-content input {
  width: 100%;
  font-size: 1rem;
  padding: 4px;
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

